    #myNavbar1{
        
       background-color:blue;
        
        
    }
    
    a{
        
        color:white;
        padding: 20px;
        margin: 20px;
        background-color:blue;
    }
    
    body {

        text-align: center;
        background-image: linear-gradient(dodgerblue, deepskyblue, skyblue, lightskyblue, lightcyan, whitesmoke, white);
        background-repeat: no-repeat;
    }

    #app {
        width: 100%;
        height: 800px;
        background-color: aliceblue;
    }

    .container {
        text-align: center;
        height: 1900px;
    }

    #myCarousel {
        width: 1200px;
        margin-right: 400px;
    }

    #myCarousel img {
        height: 800px;
        width: 1000px;
        margin-top: 35px;
    }

    .carousel-inner p {
        margin-bottom: 15px;
        margin-top: 15px;
        color: darkgoldenrod;
        font-size: 20px;
    }
    
      .carousel-inner h4 {
        margin-bottom: 15px;
        margin-top: 15px;
        color: gold;
        font-size: 20px;
    }

    #myCarouse2 {
        background-color: #b5d0d4;
    }

    #myCarouse2 img {
        height: 300px;
        margin-top: 35px;
    }
    .img2{
        
        width:350px;
        height:300px;
        
    }